<header id="banner">
    <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
    <nav>
        <ul>
            {{ range .Site.Menus.main.ByWeight -}}
            <li>
                {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
            </li>
            {{- end }}
        </ul>
    </nav>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <script defer data-domain="journal.jinnzhong.com" src="https://plausible.io/js/script.outbound-links.file-downloads.js"></script>
</header>
