{{ define "main" }}
{{ .Content }}
Oh Noes! This page does not exist. You've stumbled upon a dead link. There is nothing here. There might've been something here previously, or you might've entered the wrong URL, but regardless, there is nothing here anymore. If you believe there should be something here, and you're adamant it belongs here, and I'm gaslighting you when I say "there's nothing here", then you should file a complaint. In order to file a complaint, please print out form IDCWYT in triplicate, fill it out, and mail one copy to the Department of Complaints, a second copy to the Office of Blogging Integrity & Ethics (OBIE), and finally the third copy to the following address: #208-2414 St. John's Street, Port Moody, BC, Canada V3H 2B1. Please address the complaint to Colonel Sassafras of the 278th Batallion. Thank you.

{{ end }}
