<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    {{- partial "head.html" . -}}
    {{ partialCached "head.html" . }}
    <body>
        {{- partial "header.html" . -}}
        {{ partialCached "header.html" . }}
        <main id="content">
        {{- block "main" . }}{{- end }}
                <div>
      {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
        </main>
        {{- partial "footer.html" . -}}
        {{ partialCached "footer.html" . }}
    </body>
</html>
